.error-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 64px;
}

.error-message {
  width: 400px;
  height: 64px;
  border-radius: 4px;
  background-color: floralwhite;

  font-size: 1.5rem;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}
